<div>
    <h5>Overview</h5>
    <p>
        This dashboard aims to monitor the evolution of SARI-ILI, identify more lethal strains, 
        and track the extent of undiagnosed COVID deaths.
        It provides critical insights to inform public health policies and enhance prevention and control measures.
    </p>

    <div>
        <div class="row overViewRow equal-height-row">
            <div class= "col-xl-2 col-sm-6 col-md-6 col-6 equal-col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Screened</h5>
                        <hr>
                    </div>
                    <hr>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-2 col-sm-6 col-6 equal-col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Eligible</h5>
                        <hr>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-2 col-sm-6 col-6 equal-col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enrolled</h5>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-2 col-sm-6 col-6 equal-col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tested</h5>
                        <hr>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-2 col-sm-6 col-6  equal-col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Positive</h5>
                        <hr>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="covidCharts">
        <div class="row">
            <div class="card col-md-12 col-xl-6 col-sm-12 col-12">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div>
            <div class="card col-md-12 col-xl-6 col-sm-12 col-12">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div>
            <div class="card col-md-12 col-xl-6 col-sm-12 col-12">
                <div class="card-body">
                 
                </div>
            </div>
            <div class="card col-md-12 col-xl-6 col-sm-12 col-12">
                <div class="card-body">
                </div>
            </div>
          



